.idea/*
.idea/.
.gradle/*
gradle/
gradle/*
out/*
target/*
build/*
gradlew
gradlew.bat
src/main/main.iml
src/test/test.iml
test-output/
allure-results/
GDPR-MetaApp.zip
!src/main/resources/GDPR-MetaApp.zip
testng.xml
!src/main/resources/testng.xml
iosDevice.json
!src/main/resources/iosDevice.json
.DS_Store
.classpath
.project
.bin
.lock
.settings/
bin/